/********** FILE IMPORTS **********/
/*************************************/

@import url('bootstrap.css');
@import url('fonts.css');




/********** GENERAL STUFF **********/
/*************************************/

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs30 {
    font-size: 30px;
}

.large-red-button {
    width: 100%;
padding: 30px;
border-color: blue;
}

.nomargin {
    margin: 0 !important;
}



button.submit-button:hover{
	background-color: blue;
	text-transform: uppercase;
	text-decoration: underline;
	border: 5px solid red;
	color: #fff;
}

div.mine{
	margin-top: 50px;
}

.input-lg{

	padding: 45px 30px;

}

/********** CONTACT PAGE **********/
/*************************************/







/********** PORTFOLIO PAGE **********/
/*************************************/







/********** ABOUT PAGE **********/
/*************************************/